<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Mongo-Lion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme|Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body>
    <nav class="navbar navbar-dark bg-dark">
       <form class="form-inline">
            <h1>Mongo-Lion</h1>
         <button id ="scrape-button" class="btn btn-outline-success" type="button">Hunt New Articles</button>
         <button id ="clear-button" class="btn btn-outline-success" type="button">Clear Articles</button>
         <button class="btn btn-sm btn-outline-secondary" type="button">Saved articles</button>
       </form>
     </nav>


		{{{ body }}}


    <nav class="navbar sticky-bottom navbar-dark bg-dark">
      <p id="footer" class="navbar-brand">@Mongo-Lion 2019</p>
    </nav>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/assets/javascript/app.js"></script>

	</body>
</html>