body { 
    background: url(../images/narnia_lion_aslan_14106.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title-wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

#footer {
    font-size: 10px;
    text-align: center;
}

#title {
  text-align: center;
  font-size: 100px;
}

#subtitle {
  text-align: center;
}

.card {
  margin-left: 15px;
  margin-right: 15px;
}

.card-body {
  padding: 0px;
  /* border: 2px solid orangered; */
}

#save-button {
  float: right;
}

#comment-button {
  float: right;
}

.card-text {
  float: left;
  font-size: 18px;
  margin-left: 5%;
}

.card-title {
  padding: 15px;
}

#scrape-button{
margin-left: 5px;
margin-right: 5px;
}

#clear-button {
margin-right: 5px;
}

/* #articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  color: black;
} */
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}